@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror {
  @apply text-slate-900;

  > * + * {
    margin-top: 0.75em;
  }

  h1 {
    @apply text-lg font-semibold;
  }

  h2 {
    @apply text-base font-semibold;
  }

  h3,
  h4 {
    @apply mt-4 text-sm font-semibold uppercase tracking-wider;
  }
  h4 {
    @apply text-blue-500;
  }

  img {
    @apply max-w-full h-auto;
  }

  blockquote {
    @apply pl-3 border-l-[3px] border-slate-300 text-slate-600;
  }

  hr {
    @apply border-0 border-t border-slate-300 my-5 mx-0;
  }

  /* placeholder */
  p.is-editor-empty:first-child::before {
    @apply text-slate-400 float-left h-0 pointer-events-none content-[attr(data-placeholder)];
  }

  ul,
  ol {
    @apply ml-2;
  }

  ul li,
  ol li {
    @apply relative pl-4;
  }
  ul li:before {
    @apply absolute top-0 left-0;
    content: "-";
  }
  ol li:before {
    @apply absolute top-0 left-0;
    content: counter(list-item, decimal) ".";
  }

  pre {
    @apply my-4 bg-slate-100 rounded-md p-3 !text-xs;
  }
}
